* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: #dddddd;
}

ul li {
    list-style-type: none;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

/*css for avatar block */

.avatar {
    text-align: center;
    padding-bottom: 35px;
    background: #ebe8d9;
}

.avatar > .img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 35px;
    position: relative;
}

.img > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.avatar > .img:hover::after {
    display: block;
    content: 'Tim Duncan';
    line-height: 100px;
    color: white;
    font-weight: bold;
    background: rgba(127, 127, 127, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 8px black;
}

.tags {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 0;
}

.tags > li {
    margin: 0 16px;
    width: 128px;
    height: 30px;
    background: #666666;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    line-height: 30px;
}

.tags > li:hover {
    box-shadow: 0 0 6px black;
    cursor: pointer;
}

@media (max-width: 550px) {
    .avatar {
        background: url(https://ooo.0o0.ooo/2017/05/16/591ac386f2c99.jpg) center / contain;
    }

    .avatar > .img {
        display: inline-block;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        margin-top: 35px;
        position: relative;
    }

    .img > img {
        width: 73px;
        height: 73px;
        border-radius: 50%;
    }

    .avatar > .img:hover::after {
        display: block;
        content: 'TD';
        line-height: 73px;
        color: white;
        font-weight: bold;
        background: rgba(127, 127, 127, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 0 0 8px black;
    }

    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .tags > li {
        margin: 24px 16px 0 16px;
        width: 128px;
        height: 24px;
        background: #666666;
        font-weight: bold;
        color: white;
        border-radius: 6px;
        line-height: 24px;
    }
}

/*css for summary block */

.summary-1 {
    display: none;
}

.summary {
    padding-top: 75px;
    padding-bottom: 102px;
    background: url(https://ooo.0o0.ooo/2017/05/16/591abf493880b.jpg) #efefef -60px top / contain;
}

@media (max-width: 550px) {
    .summary {
        display: none;
    }

    .summary-1 {
        display: block;
    }

    .summary-1 > h2 {
        width: 200px;
        height: 40px;
        border-radius: 14px;
        text-align: center;
        background: #e8e8e8;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 19px;
        line-height: 40px;
        border: 1px solid;
    }

    .summary-1 h2:nth-child(2) {
        margin-bottom: 46px;
    }

    .summary-1 > p {
        max-width: 250px;
        height: 24px;
        line-height: 24px;
        background: #e8e8e8;
        border-radius: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 19px;
        border: 1px solid;
    }
}

@media (max-width: 959px) {
    .summary {
        padding-top: 75px;
        padding-bottom: 102px;
        background: url(https://ooo.0o0.ooo/2017/05/16/591abf493880b.jpg) #efefef center / contain;
    }

    .summary-1 {
        padding-top: 56px;
        padding-bottom: 51px;
        background: url(https://ooo.0o0.ooo/2017/05/16/591abf493880b.jpg) #efefef center / cover;
    }
}

.summary > h2 {
    width: 376px;
    height: 50px;
    border-radius: 14px;
    text-align: center;
    background: #666666;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 50px;
    border: 1px solid white;
}

.summary > p {
    max-width: 536px;
    height: 30px;
    line-height: 30px;
    background: #888888;
    color: white;
    border-radius: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

.paragraph-1 {
    margin-bottom: 19px;
}

/*css for album*/

.album > ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 26px;
    padding-left: 0; /*去除ul 默认padding-left 样式*/
    flex-direction: row;
    justify-content: space-around;
    background: #eef1f2;
}

.album > ul > li {
    border-radius: 4px;
    width: 288px;
    margin-top: 32px;
}

.album > ul > li > img {
    width: 100%;
    height: 181px;
    border-radius: 10px;
    vertical-align: top;
}

.album > ul > li > .image-1 {
    width: 100%;
    height: 181px;
    background: url(https://ooo.0o0.ooo/2017/05/16/5919daa023150.jpg) left -20px/cover;
    border-radius: 10px;
}

.album > ul > li > .image-2 {
    width: 100%;
    height: 181px;
    background: url(https://ooo.0o0.ooo/2017/05/16/5919dea94e084.jpg) center /cover;
    border-radius: 10px;
}

.album > ul > li > .image-3 {
    width: 100%;
    height: 181px;
    background: url(https://ooo.0o0.ooo/2017/05/16/5919e1ae4fcf4.jpg) left -15px /cover;
    border-radius: 10px;
}

.album > ul > li > h3 {
    border-radius: 4px;
    /*width: 204px;*/
    height: 24px;
    margin-top: 19px;
    margin-bottom: 14px;
    text-align: center;
    line-height: 24px;
}

.album > ul > li > p {
    height: 4em;
    border-radius: 4px;
}

.album img:hover, .image-1:hover, .image-2:hover, .image-3:hover {
    box-shadow: 0 0 15px black;
    cursor: pointer;
}